<div class="jumbotron center">
     <h1>taargüs taargüs</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>

       <img src="http://upload.wikimedia.org/wikipedia/commons/d/df/Jeff_Goldblum.jpg" alt="some_text">

  </p>    
</div>
