<div class="jumbotron center">
     <h1>taargüs taargüs</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>


  </p>  
  <p> <img src="http://upload.wikimedia.org/wikipedia/commons/d/df/Jeff_Goldblum.jpg" width="550" height="730" alt="goldblum_me">
  </p>  
</div>
